:root {
    --fondo: #f8f4f1;
    --texto_dorado: #8c5f41;
    --texto-vino: #56161c
}

/*Ajustar el border box, y el valor de 1rem a 10px*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Utilizar fuentes, evitar google fonts de forma directa por razones legales*/
@font-face {
    font-family: 'Dancing Script';
    src: url(./assets/fonts/DancingScript-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Kalam';
    src: url('./assets/fonts/static/Kalam-Regular.ttf') format('truetype'),
        url('./assets/fonts/static/Kalam-Bold.ttf') format('truetype') weight 700,
        url('./assets/fonts/static/Kalam-Light.ttf') format('truetype') weight 300;
}

/* indicar que la fuente se utiliza en toda la pagina */
body {
    font-family: 'kalam';
    font-size: 1.6rem;
    /*Establecer el tamaño de la fuente a 16px*/
    background-color: var(--fondo);
    /*background-image: url(./assets/images/fondoFloresjpg.jpg);
    background-size: cover;/*la imagen de fondo se escalará para cubrir todo el elemento contenedor*/
    /*background-repeat: no-repeat;/*La imagen no se repetira para cubir el espacio*/
    /*background-position: center center;/* coloca la imagen de fondo en el centro del contenedor tanto horizontal como verticalmente*/
}

h1,
h2,
h3 {
    font-family: 'Dancing Script', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 0rem;
    color: var(--texto-vino);
}

p {
    /* font-weight: 700; */
    margin: 0rem;
}

a{
    text-decoration: none;
    color: white;
}

.fondo {
    background-image: url(./assets/images/fondo-vino.jpg);
    height: max(100dvh, 60rem);
    /*Altura visible dispositivo*/
    width: min(100%, 132rem);
    margin: 0 auto;
    /*Centrar el div*/

    background-size: cover;
    /*la imagen de fondo se escalará para cubrir todo el elemento contenedor*/
    background-repeat: no-repeat;
    /*La imagen no se repetira para cubir el espacio*/
    background-position: center center;
    /* coloca la imagen de fondo en el centro del contenedor tanto horizontal como verticalmente*/

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0.5rem 0rem 1rem -0.5rem rgba(0, 0, 0, 0.3),
        -0.5rem 0rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
    /* Sombreado gris */
    position: relative;
}

.fondo img {
    height: 100dvh;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 1rem 0rem 1.5rem -0.5rem rgba(0, 0, 0, 0.5),
        -1rem 0rem 1.5rem -0.5rem rgba(0, 0, 0, 0.5);
    /* Sombreado gris */
    /* max-width: 100%; */
    /* width: 100%; */
}

.fondo .tiempo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4rem;
}

.tiempo {
    width: min(90%, 38rem);
    /* width: 90%; */
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    color: var(--texto-vino);
}

.tiempo div {
    flex-basis: auto;
    /* Mismo ancho base para todos los divs internos */
    /*flex-grow: 1; /* Expandir para ocupar espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tiempo h1 {
    font-weight: 900;
    font-size: 4rem;
    margin: 1rem 0rem;
}

.tiempo h2 {
    font-size: 5rem;
}

.tiempo p {
    font-size: 1.6rem;
    font-weight: bolder;
}

/* Estilos para la introduccion*/
.invitacion-intro {
    background-image: url(./assets/images/fondo-pases.jpg);
    height: max(100dvh, 60rem);
    width: min(100%, 132rem);
    margin: 0 auto;

    background-size: cover;    
    background-repeat: no-repeat;    
    background-position: center center;

    display: flex;
    justify-content: center;
    align-items: center;

    /* box-shadow: 0.5rem 0rem 1rem -0.5rem rgba(0, 0, 0, 0.3),
                -0.5rem 0rem 1rem -0.5rem rgba(0, 0, 0, 0.3); */
}

.invitacion-intro-texto {
    width: min(95%, 53rem);
    padding: 0.5rem;
    font-size: 1.6rem;

    border-width: 0.5rem;/* Ancho del borde */
    border-style: solid;/* Estilo del borde */
    border-image: linear-gradient(to right,#ecc440, #fffa8a, #ddac17, #ffff95); /* Gradiente dorado */
    border-image-slice: 1; /* Define la parte del borde que se repite */
}

.invitacion-intro .contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin: 0rem;
    height: 25rem;
}

@media (min-width: 768px){
    .invitacion-intro .contenedor{
        flex-direction: row;
    }
}

.invitacion-intro .novios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.invitacion-intro .contenedor img{
    vertical-align: super;
    height: 1rem;
    /* margin-right: 0.5rem; */
}

.invitacion-intro p{
    color: var(--texto-vino);
    display: inline-block;
    font-size: 1.8rem;
}

.invitacion-intro h4{
    color: var(--texto-vino);
    font-size: 2rem;
    /* font-weight: 600; */
}

/* Estilos para las invitaciones  particulares*/
.invitacion-particular {
    background-image: url(./assets/images/fondo-particular.jpg);
    height: max(100dvh, 60rem);
    /*Altura visible dispositivo*/
    width: min(100%, 132rem);
    margin: 0 auto;
    /*Centrar el div*/

    background-size: cover;
    /*la imagen de fondo se escalará para cubrir todo el elemento contenedor*/
    background-repeat: no-repeat;
    /*La imagen no se repetira para cubir el espacio*/
    background-position: center center;
    /* coloca la imagen de fondo en el centro del contenedor tanto horizontal como verticalmente*/

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0.5rem 0rem 1rem -0.5rem rgba(0, 0, 0, 0.3),
                -0.5rem 0rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
    /* Sombreado gris */
    /* position: relative; */
}

.invitacion-texto {
    width: min(90%, 45rem);
    padding: 1rem;
    font-size: 1.6rem;

    /* border-width: 0.5rem;/* Ancho del borde */
    /* border-style: solid;/* Estilo del borde */
    /* border-image: linear-gradient(to right,#ecc440, #fffa8a, #ddac17, #ffff95); /* Gradiente dorado */
    /* border-image-slice: 1; /* Define la parte del borde que se repite */
}

.invitacion-texto p{
    color: var(--texto-vino);
    /* font-weight: bold; */
    font-size: 1.8rem;
}

.invitacion-texto p:last-of-type{
    margin: 1.5rem 0 1rem 0;
}

.invitacion-texto h1 {
    margin: 1.6rem;
}

.invitacion-particular h2{
    font-size: 2rem;
    font-family: "Merienda", cursive;
}

.invitacion-particular h3{
    font-size: 2.5rem;
    font-family: 'kalam';
    text-transform: lowercase;
}

/* Estilos para las ubicaciones */
/* .ubicaciones {
    height: max(100dvh, 60rem); 
    background-color: #d8bea8;
    padding: 2rem 0rem;
} */

.ubicaciones-titulo {
    font-family: "Great Vibes", cursive;
    font-size: 3.5rem;
    margin: 2rem 0rem 1rem 0rem;
}

.ubicaciones-fecha {
    font-size: 2rem;
}

.ubicaciones .row {
    padding: 1rem 0.5rem;
}

.card-titulo {
    margin-top: 1rem;
    font-family: "Merienda", cursive;
    font-size: 2rem;
}

.card-body span {
    font-weight: bold;
}

.btn-primary {
    font-size: 1.5rem;
    font-family: "Merienda", cursive;
    font-weight: bold;
    background-color: #d8bea8;
    color: var(--texto-vino);
    border: none;
}

/* Estilos Modal */
.modal-content {
    font-family: "Merienda", cursive;
    color: var(--texto-vino);
    background-color: var(--fondo);
}

.modal-content h5 {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.modal-content span {
    font-weight: bold;
}

/* Itinerario */
.itinerario {
    background-image: url(./assets/images/fondo-vino.jpg);
    height: max(100dvh, 60rem); /*Altura visible dispositivo*/
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0.5rem 0rem 1rem -0.5rem rgba(0, 0, 0, 0.3),
                -0.5rem 0rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
}

.itinerario img{
    height: 100dvh;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 1rem 0rem 1.5rem -0.5rem rgba(0, 0, 0, 0.5),
        -1rem 0rem 1.5rem -0.5rem rgba(0, 0, 0, 0.5);
}
/* height: 100%; */

/* Carrusel de imagenes*/
/* .nosotros-carrusel{
    
} */
.nosotros-carrusel h2{
    font-family: "Great Vibes", cursive;
    font-size: 5rem;
    margin: 2rem 0rem 1rem 0rem;
}

/* Mesa de regalos */
.mesa-regalos{
    padding: 1rem;
}

.mesa-regalos h1{
    font-size: 5rem;  
    margin: 2rem 0rem;
}

.mesa-regalos p{
    color: var(--texto-vino);
    font-size: 2rem;
    margin-bottom: 2rem;
}

.mesa-regalos img{
    height: 100%;
    /* width: 100%; */
    object-fit: scale-down;
    padding: 1rem;
}

.btn-mesa{
    height: 8rem;
    width: 30rem;
    border-radius: 2rem;
    border-width: 0.2rem;/* Ancho del borde */
    border-style: solid;/* Estilo del borde */
    border-color: var(--texto-vino);
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
}

.btn-mesa:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8); 
}

.btn-banco{
    height: 4rem;
    width: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    color: var(--texto-vino);

    border-radius: 2rem;
    border-width: 0.2rem;/* Ancho del borde */
    border-style: solid;/* Estilo del borde */
    border-color: var(--texto-vino);
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
}
.btn-banco:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8); 
}

/* Confirmar asistencia */
.confirmar-asistencia{
    background-color: #d8bea8;
    color: var(--texto-vino);
    /* font-weight: bold; */
    padding: 1rem;
    font-size: 2rem;
    padding-bottom: 4rem;
}

.confirmar-asistencia h1{    
    font-size: 4rem;  
    margin: 1rem 0 2rem 0;
}

.confirmar-asistencia .whats{
    width: 25rem;
    height: 4rem;
    background-color: #075e54;
    margin: 0.5rem 0;
    border: 0.2rem solid white ;
    border-radius: 1rem;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    font-weight: normal;
}
.whats:hover{
    background-color: #25d366;
    border: 0.2rem solid #ece5dd ;
    color: #ece5dd;
}

/*Boton de Musica*/
.musica {
    position: fixed;
    bottom: 1rem;
    left: 0.5rem;
}

.musica i {
    font-size: 2rem;
    color: white;
    background-color: #b29983;
    padding: .6rem 1.2rem;
    border-radius: 50%;
}

#modalMusica h5 {
    margin: 2rem;
}

#modalMusica button {
    margin: 1rem;
}

/* Footer */
footer{
    background-color: black;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    & a{        
        display: inline-block;
        align-items: center;
        border: 0.2rem solid white;
        width: 20rem;
        border-radius: 1rem;
    }
    & a:hover{
        color: black;        
        background-color: white;
    }
}
